/* GLOBAL SETTINGS */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  background-color: #f8eee4;
}

h1 {
  font-family: "Amaranth", sans-serif;
  font-size: 40px;
}

h2 {
  font-family: "Amaranth", sans-serif;
  font-size: 25px;
}

h3 {
  font-family: "Amaranth", sans-serif;
  font-size: 20px;
}

a:link {
  text-decoration: none;
}

/* HEADER (all pages) */

header {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #96b011;
}

.livraison {
  background-color: #869e0f;
  padding: 0.5% 0 0.5% 7%;
  color: #e7eca7;
  text-align: center;
}

.livraison p {
  font-weight: lighter;
  margin: 0;
}

.corner {
  display: block;
  float: right;
  width: 90px;
}

.caddie {
  margin: 0 18%;
  padding-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.caddie p {
  padding: 3% 0;
}

.caddie p a {
  color: #f2ffb1;
}

#caddie {
  margin: 0 4px;
  padding: 10px;
  border: 1px solid #e7eca7;
  border-radius: 50px;
}

.logo {
  padding-top: 10%;
  width: 70%;
}

header p span {
  font-weight: bold;
  color: #ffffff;
}

header nav {
  margin: 0 18%;
  padding: 2% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav a {
  text-transform: uppercase;
  color: #e7eca7;
}

/* MAIN (all pages) */

main {
  max-width: 1100px;
  margin: 0 18%;
}

/* MAIN (Home page) */

main h1 {
  text-align: center;
  color: #96b011;
}

main .conditions {
  text-align: center;
  font-size: small;
}

main img {
  width: 100%;
}

.gout {
  padding: 3%;
  background-color: #ffffff;
}

main .taste,
#herbe {
  margin: 3% 0;
  padding: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ffffff;
  text-align: center;
}

fieldset {
  border: none;
  border-top: 1px solid #96b011;
  text-align: center;
}

main .gout h2 {
  padding: 0 4px;
  color: #96b011;
  text-align: center;
}

main .taste a {
  font-family: "Amaranth", sans-serif;
  width: 15%;
  color: black;
}

.taste p {
  margin: 0;
}

main article .saveur {
  background-color: #ffffff;
}

#herbe h2 {
  font-size: 18px;
  color: #96b011;
}

#herbe article {
  width: 25%;
}

#herbe p {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#herbe span {
  font-weight: bold;
}

#herbe button {
  background-color: #b09067;
  border: none;
  color: #d4d4d4;
}

/* MAIN (Listing page) */

main #list {
  margin: 3% 0;
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  text-align: center;
}

.tea fieldset {
  margin: 0;
  text-align: left;
  border: none;
  border-top: 1px solid #96b011;
}

.tea p {
  margin: 0%;
  text-align: left;
}

.tea h2 {
  margin: 0;
  color: #96b011;
}

.clear {
  clear: both;
  display: none;
}

.categorie {
  width: 20%;
  float: left;
}

.source {
  margin: 0;
  text-align: center;
  width: 25%;
}

.tea h3 {
  margin: 0;
  text-align: center;
}

/* MAIN (About page) */

.contain {
  margin: 2% 18%;
  padding: 2% 2%;
  background-color: #ffffff;
}

.contact {
  color: black;
  text-align: left;
}

fieldset {
  text-align: left;
  border: none;
  border-top: 1px solid #96b011;
  color: #96b011;
}

.amelie img {
  padding: 2%;
  width: 50%;
  float: left;
}

.xavier img {
  padding: 2%;
  width: 50%;
  float: right;
}

.cadre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  background-color: #e1f191;
}

.cadre img {
  width: 10%;
}

.cadre span {
  font-weight: bold;
}

/* MAIN (Product page) */

.contain2 {
  margin: 2% 18%;
  padding: 2% 2%;
  background-color: #ffffff;
}

.contain2 img {
  width: 40%;
}

.noline {
  border: none;
  border-top: none;
}

.price {
  font-weight: bold;
}

button {
  background-color: #b09067;
  border: none;
  color: #d4d4d4;
}

/* FOOTER (all pages) */

footer {
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.informations {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #869e0f;
  color: #e7eca7;
  padding: 2% 0 1%;
  text-align: center;
}

footer nav {
  width: 30%;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #e7eca7;
}

footer nav h3 {
  color: #ffffff;
}

footer nav a {
  color: #e7eca7;
}

.botfooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
