/* GLOBAL SETTINGS */

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Amaranth", sans-serif;
  font-size: 40px;
}

h2 {
  font-family: "Amaranth", sans-serif;
  font-size: 25px;
}

h3 {
  font-family: "Amaranth", sans-serif;
  font-size: 20px;
}

/* HEADER (all pages) */

header {
  padding-bottom: 5%;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.livraison {
  background-color: #879e0f;
  padding: 0.5% 0 0.5% 3%;
  color: #d4d4d4;
  text-align: center;
}

.livraison p {
  font-weight: lighter;
  margin: 0;
}

.corner {
  display: block;
  float: right;
  width: 90px;
}

.caddie {
  margin: 0 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header nav a {
  text-decoration: none;
  text-transform: uppercase;
}
